body
{
    background-color: #008000;
    padding-top: 0;
    padding-bottom: 10px;
}

.etiqu_cat
{
  background-color: white;
  border: 1px dotted black;
  border-radius: 2px;
  margin: 10px;
  float: left;
  font-family: 'Quicksand', sans-serif;
}

td, th
{
  padding: 8px;
}

.etiqu_price
{
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px;
  float: right;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.panel-primary>.panel-heading
{
  background-color: #fff700;
  border-color: #b2ad07;
  color: black;
}

.panel-heading
{
  font-size: 3em;
  font-family: 'Quicksand', sans-serif;
}

a
{
  font-size: 2em;
  color: #337AB7;
}

li a
{
  font-size: 20px;
}

li a:hover
{
  color: #9d9d9d;
}

footer a
{
  font-size: 20px;
  color: #9d9d9d;
}

footer a:hover
{
  color: #9d9d9d;
  text-decoration: none;
}

.container-fluid
{
  padding: 7px;
  background-color: #101010;
}

.container-fluid.text-center
 {
   position: fixed;
   bottom: 0px;
   text-align: center;
   width: 100%;
 }
